@{
    ViewData["Title"] = "Home Page";
}

<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<!-- Header -->
<header class="w3-container w3-center" style="background-color: white; position: relative;">
    <div style="padding: 128px 16px; position: relative;">
        <img src="~/Image/JPS.png" alt="Image" style="display: block; margin: 0 auto; max-width: 100%;">
    </div>
</header>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-third w3-center">
            <img src="~/Image/JPS!.png" alt="Image" style="display: block; margin: 0 auto; max-width: 100%;">
        </div>

        <div class="w3-twothird">
            <h1>Promoting Clean & Green Energy through Renewables</h1>


            <p class="w3-text-grey">
  
                We continue to explore and integrate renewable energy sources, as part 
                of our strategy to gradually reduce dependence on fossil fuels for 
                electricity generation. Our commitment to #Clean&Green has led to 
                partnerships with other power providers to create a diverse renewable 
                energy portfolio that supports the national grid:

                <ul>
                    <li>Wind Energy</li>
                    <li>Hydropower</li>
                    <li>Solar Energy</li>
                </ul>

            </p>
        </div>
    </div>
</div>

        <div class="w3-container w3-grey w3-center w3-opacity w3-padding-57">
            <h1 class="w3-margin w3-xlarge">Do Power Differently</h1>
        </div>


<br />
<br />
