@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ccf0a605f0.js" crossorigin="anonymous"></script>
</head>
<body class="">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:darkred">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/BNS.png" height="70" width="130" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown"
                                   href="#" aria-haspopup="true" aria-expanded="false" aria-id="navbarDropdownMenuLink">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    @if((signInManager.IsSignedIn(User)) && !User.IsInRole("Teller"))
                                    {
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Account" asp-action="CreateCustomer">Create Customer</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Account" asp-action="CreateTeller">Create Teller</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Administration" asp-action="ListTellers">Tellers</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Teller" asp-action="ListCustomers">Customers</a>
                                    }

                                    @if((signInManager.IsSignedIn(User)) && User.IsInRole("Teller"))
                                    {
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Teller" asp-action="ListCustomers">Customers</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Teller" asp-action="Deposit">Make Deposit</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Teller" asp-action="Withdraw">Make Withdrawal</a>
                                    }
                                    
                                    @if((signInManager.IsSignedIn(User)) && !User.IsInRole("Teller"))
                                    {
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Customer" asp-action="Details">View Details</a>
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Customer" asp-action="Transactions">View Transactions</a>
                                    }

                                </div>
                            </li>
                        }


                    </ul>


                    <ul class="navbar-nav nav-pills ml-auto">


                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0 text-white" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="CreateCustomer">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                        }




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - JPS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
