@model CreateRoleViewModel

@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:white;">
    <h1 style="text-align: center; color: darkred;">Create New Role</h1>
    <hr style="height:3px; background-color:black;opacity:0.7" />

    <div class="d-flex justify-content-center align-items-center h-100 flex-column">
        <div class="col-md-4 col-sm-8 text-center ">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control text-center" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button style="width:auto" type="submit" class="btn btn-danger">Create Role</button>
            </form>
        </div>
    </div>
</body>