@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/ccf0a605f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: dodgerblue"><img src="~/Image/NCB.png" height="70" width="130" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown"
                                   href="#" aria-haspopup="true" aria-expanded="false" aria-id="navbarDropdownMenuLink">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="CreateCustomer">Create Customer</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="CreateTeller">Create Teller</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Administration" asp-action="ListTellers">Tellers</a>

                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Teller" asp-action="ListCustomers">Customers</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Teller" asp-action="Deposit">Make Deposit</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Teller" asp-action="Withdraw">Make Withdrawal</a>

                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Customer" asp-action="Details">View Details</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Customer" asp-action="Transactions">View Transactions</a>

                                </div>
                            </li>
                        }


                    </ul>


                    <ul class="navbar-nav nav-pills ml-auto">


                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="nav-link btn btn-link py-0 text-dark" style="width:auto">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CreateCustomer">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>

                        }




                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center p-4 border-bottom">

            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on our social networks:</span>
            </div>

            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>

        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5 ">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->

                        <h6 class="text-uppercase fw-bold mb-4">
                            <img src="~/Image/NCB.png" width="100" />
                        </h6>
                        <p>
                           Put Your Best Life Forward
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Payment and Billing
                        </h6>
                        <p>
                            <a href="#!" class="text-reset footer-link">NCB Pay</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-reset footer-link">Home</a>
                        </p>
                        <p>
                            <a href="" class="text-reset footer-link">Fee Guide</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-reset footer-link">Privacy Notice</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> 32 Trafalgar Road <br />Kingston, Jamaica</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            customercare@ncb.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> 888 622 3477</p>
                        <p><i class="fas fa-print me-3"></i> 888 929 4622</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; 2024 - JPS - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
