
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-success">@ViewBag.SuccessMessage</h1>

<a asp-action="index" asp-controller="home">
    Please click here to return to the home page
</a>
<p>or wait 10 seconds</p>

<script>
    window.setTimeout(function(){
        window.location.href='/home/index';
    }, 10000);
</script>
