@model DepositViewModel
@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style=" background-color:lightgrey;">
    <h1 style="text-align:center; color:dodgerblue;">Deposit</h1>
    <hr style="height:3px; background-color:black;opacity:0.7" />

    <div class="d-flex justify-content-center align-items-center h-100 flex-column">
        <div class="col-md-4 col-sm-8 text-center ">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Account"></label>
                    <input asp-for="Account" class="form-control text-center" />
                    <span asp-validation-for="Account" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input asp-for="Amount" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Deposit</button>
            </form>
        </div>
    </div>
</body>