@model JPS.Models.Bill

@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1 style="font-family: Times New Roman; text-align:center">Create Bill</h1>

<hr/>

<form asp-action="Create" asp-controller="Bills" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <strong><label asp-for="GenerationDate" class="control-label"></label>:</strong>
                <input asp-for="GenerationDate" class="form-control" />
                <span asp-validation-for="GenerationDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <strong><label asp-for="DueDate" class="control-label"></label>:</strong>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <strong><label asp-for="PremisesNumber" class="control-label"></label>:</strong>
                <input asp-for="PremisesNumber" class="form-control"/>
                <span asp-validation-for="PremisesNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <strong><label asp-for="CustomerId" class="control-label"></label>:</strong>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <strong><label asp-for="Address" class="control-label"></label>:</strong>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <strong><label asp-for="AmountDue" class="control-label"></label>:</strong>
                    <input asp-for="AmountDue" class="form-control" />
                    <span asp-validation-for="AmountDue" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" style="text-align:center">
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Index"><input type="button" value="Back to List" class="btn btn-primary" /></a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</form>

@*<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenerationDate" class="control-label"></label>
                <input asp-for="GenerationDate" class="form-control" />
                <span asp-validation-for="GenerationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremisesNumber" class="control-label"></label>
                <input asp-for="PremisesNumber" class="form-control" />
                <span asp-validation-for="PremisesNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountDue" class="control-label"></label>
                <input asp-for="AmountDue" class="form-control" />
                <span asp-validation-for="AmountDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><input type="button" value="Back to List" class="btn btn-primary" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
